.btn {
  margin-right: 5px;
  border-radius: 4px;
  border: 1px solid #d1cccc;
  background-color: #bad6ec;
}
button:hover {
  background-color: #97b6d3;
  color: #ffffff;
}
button:active {
  background-color: #616daf;
}
.list {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 15px;
}
